body {
  margin: 0 5px;
  position: relative;
}

.tile {
  position: relative;
  box-sizing: border-box;
}
.tile:before {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.tile > div {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile:hover:before {
  background-color: #ff04;
}

.dark {
  background-color: #555;
}
.container {
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.mark,
.attack {
  position: absolute;
  top: calc(50% - min(1vw, 10px));
  left: calc(50% - min(1vw, 10px));
  background-color: #228bec;
  max-width: 20px;
  max-height: 20px;
  width: 2vw;
  height: 2vw;
  border-radius: 2vw;
  transition: opacity 50ms;
}

.tile img {
  width: 10vw;
  max-width: 80px;
}

.tile.selected img {
  opacity: 1;
}

.attack {
  background-color: #ec2222;
}

.tile.check {
  background-color: #f004;
}

.last-move {
  background-color: #00f3;
}
