.mini .grid,
.mini .tile {
  border: dashed 4px #000;
  border-image-source: url('https://i.stack.imgur.com/wLdVc.png');
  border-image-slice: 1;
  border-image-repeat: round;
}

.mini .grid {
  border-left: 0;
  border-image-slice: 1;
  border-bottom: 0;
}

.mini .tile {
  border-right: 0;
  border-top: 0;
}
.mini .dark {
  background-color: #fff;
}
