.mini .tile {
  background-image: url('assets/tile.png');
  background-size: 100%;
  background-position: center;
}
.mini .tile.muted {
  opacity: 0.3;
}
.mini .tile.check {
  opacity: 1;
  background-image: url('assets/tile-check.png');
}
.mini .tile.check img {
  animation: spin 150ms step-start infinite;
}

.mini .tile img {
  height: 10vw;
  max-height: 70px;
  width: auto;
}

.mini .tile img,
.mini .tile {
  transition: opacity 50ms;
}

.mini .dark {
  background-color: #fff;
}

.mini .tile:hover:before {
  background-color: transparent;
}

.mini .tile.selected {
  opacity: 1;
}

.mini .tile .mark,
.mini .tile .attack {
  opacity: 0;
}

.mini .tile.marked,
.mini .tile.marked:hover .mark,
.mini .tile.marked:hover .attack {
  opacity: 1;
}

.mini .grid {
  margin-bottom: 30px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}
